
.galaxy {
	/* position: relative; */
	width: 100%;
	height: 100%;
	/* margin: 0 auto; */
}

.tatooine {
	background: url('../../assets/images/planet_img/Tatooine_display.png')
		no-repeat;
	width: 150px;
	height: 150px;
	align-self: center;
	/* position: absolute;
	left: 6;
	top: 6; */
	/* z-index: 2; */
	background-size: 100% 100%;
	animation: tatooine-glow 4000ms infinite;
}

@keyframes tatooine-glow {
	0% {
		filter: drop-shadow(0 0 -10px #97dcf4);
	}
	40% {
		filter: drop-shadow(0 0 20px #66cff2);
	}
	60% {
		filter: drop-shadow(0 0 20px #39c5f4);
	}
	100% {
		filter: drop-shadow(0 0 -10px #0f9ece);
	}
}

.coruscant {
	background: url('../../assets/images/planet_img/Coruscant_display.png');
	background-size: 100% 100%;
	background-position: center center;
	width: 180px;
	height: 180px;
	align-self: center;
	/* position: absolute;
	right: 0;
	top: 4; */
	/* z-index: 3; */
	animation: coruscant-glow 4000ms infinite;
}

@keyframes coruscant-glow {
	0% {
		filter: drop-shadow(0 0 -10px #97dcf4);
	}
	40% {
		filter: drop-shadow(0 0 20px #66cff2);
	}
	60% {
		filter: drop-shadow(0 0 20px #39c5f4);
	}
	100% {
		filter: drop-shadow(0 0 -10px #0f9ece);
	}
}

.endor {
	background: url('../../assets/images/planet_img/Endor_display.png');
	background-size: 100% 100%;
	background-position: center center;
	width: 80px;
	height: 80px;
	align-self: center;
	/* position: absolute;
	right: 2;
	bottom: 0; */
	/* z-index: -4; */
	animation: endor-glow 3500ms infinite;
}

@keyframes endor-glow {
	0% {
		filter: drop-shadow(0 0 -10px #97dcf4);
	}
	40% {
		filter: drop-shadow(0 0 20px #66cff2);
	}
	60% {
		filter: drop-shadow(0 0 20px #39c5f4);
	}
	100% {
		filter: drop-shadow(0 0 -10px #0f9ece);
	}
}

.bespin {
	background: url('../../assets/images/planet_img/DeathStar_display.png');
	background-size: 100% 100%;
	background-position: center center;
	width: 50px;
	height: 50px;
	align-self: center;
	/* position: absolute;
	right: 0;
	top: 4; */
	/* z-index: 5; */
	animation: death_star-glow 4000ms infinite;
}

@keyframes death_star-glow {
	0% {
		filter: drop-shadow(0 0 -10px #97dcf4);
	}
	40% {
		filter: drop-shadow(0 0 20px #66cff2);
	}
	60% {
		filter: drop-shadow(0 0 20px #39c5f4);
	}
	100% {
		filter: drop-shadow(0 0 -10px #0f9ece);
	}
}
